// Typography

html { font-size: 87.5%; }

body {
  font-size: 1rem;
}


h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 55px;
}
h2 {
  font-weight: 600;
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: 600;
}
h4 {
  font-size: 2rem;
  font-weight: 600;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
h6 {
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8rem;

  a {
    color: $text-blue;
    font-weight: 500;

    &:hover {
      color: $primary-hover-color;
    }
  }
}

.wpb_text_column {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8rem;
  ul {
    li {
      position: relative;
      padding-left: 2rem;

      &:before {
        position: absolute;
        left: 0;

        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1.8rem;
        content: "\f00c";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
      }
    }
  }
}

// Privacy cmplz COMPLIANZ COOKE DOCUMENT
#cmplz-document {
  max-width: 100%;
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-align: left;
}


// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px){
  h1 {
    font-size: 2.4rem;
    line-height: 36px;
  }
  h2 {
    font-size: 2.2rem;
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px){
  //h1 {
  //  font-size: 45px;
  //  line-height: 55px;
  //  font-weight: 700;
  //}
  //h2 {
  //  font-weight: 600;
  //  font-size: 38px;
  //}
  //h3 {
  //  font-size: 32px;
  //  font-weight: 600;
  //}
  //h4 {
  //  font-size: 1.5rem;
  //  font-weight: 600;
  //}
  //h5 {
  //  font-size: 1.1rem;
  //  font-weight: 600;
  //}
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px){

}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px){

}