$primary-color: #177FBF;
$primary-hover-color: #0E4C72;
$light-blue: #6BC7FF;
$text-blue: #0973b5;

// TODO: FIX CSS DUPLICATE
$light-grey: #f6f6f6;
$background-grey : #f6f6f6;

$text-blue: #0973b5;
$text-grey: #999999;

$red: rgb(255, 82, 82);


$danger: #d9534f!important;
$warning: #f0ad4e!important;
$info: #5bc0de!important;
$success: #5cb85c!important;
$primary: #0275d8!important;

@mixin transition-ease-all {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}