.idea

# UPLOADS
wp-content/uploads

# PLUGINS
wp-content/plugins/*
!wp-content/plugins/hockey_vacatures

# THEMES
wp-content/themes/*
!wp-content/themes/hockey-vacatures
wp-content/themes/hockey-vacatures/inc/img
!wp-content/themes/hockey-vacatures/inc/img/logo.png
!wp-content/themes/hockey-vacatures/inc/img/glenn.png


