
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /hockey-vacatures.nl/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /hockey-vacatures.nl/index.php [L]
</IfModule>

# END WordPress
# BEGIN Hotlinking

# END Hotlinking