@media screen and (min-width: 992px){
}

@media screen and (max-width: 992px){
  #header {
    .main-header {
      .menu-hoofdmenu-container {
        display: block;
        position: fixed;
        height: calc(100vh - 99px);
        width: 350px;
        background-color: #171717;
        border-top: 1px solid $light-grey;
        right: -100%;
        top: 99px;
        @include transition-ease-all;


        .main-menu {
          text-align: left;
          li {
            display: block !important;
            margin-top: 0;
            padding: 1rem;
            a {
              margin-left: 0;
            }
          }
        }


        &.active {
          right: 0;
        }
      }
      .menu-toggle {
        float: right;
        display: inline-block;
      }
    }
  }
}