
body.admin-bar #header {
  top: 32px;
}

#header {
  width: 100%;
  position: fixed;
  z-index: 1000000;
  top: 0;

  .top-header {
    height: 36px;
    @include transition-ease-all;

    .col-md-6:first-child {
      ul li {
        float: left;
        text-align: left;
      }
    }

    .col-md-6:last-child {
      ul li {
        text-align: right;
        float: right;
      }
    }

    ul {
      margin-bottom: 0;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 10px 1rem;
          font-size: .8rem;
          color: #ffffff;
          font-weight: 600;
          text-transform: uppercase;
        }

        &:hover {
          background-color: $primary-hover-color;
          text-decoration: none;
        }
      }
    }
  }

  .main-header {
    height: 63px;
    padding: .5rem 0;
    @include transition-ease-all;

    .logo {
      height: 49px;
      img {
        padding: 5px 0;
        height: 100%;
        width: auto;
      }
    }

    .menu-toggle {
      display: none;
      a {
        display: block;
        float: right;
        height: 49px;
        width: 49px;
        color: #ffffff;
        line-height: 49px;
        font-size: 1.4rem;
        text-align: center;
      }
    }

    ul {
      text-align: right;
      li {
        margin-top: 10px;
        display: inline-block;
        a {
          color: #ffffff;
          font-size: 1rem;
          font-weight: 600;
          margin-left: 1rem;
          text-transform: uppercase;

          &:hover {
            color: $light-blue;
            text-decoration: none;
          }
        }
      }
    }
  }

  &.normal {
    .top-header {
      background-color: $primary-color;
    }
    .main-header {
      background-color: rgba(23,23,23,1);
    }
  }

  &.fixed {
    .top-header {
      background-color: $primary-color;
    }
    .main-header {
      background-color: rgba(23, 23, 23, 0.9);
    }
  }
}