.page {
  .page-wrapper {
    //background-color: $light-grey;
  }
  .page-content, .main-column {
    background-color: #ffffff;
  }
}

.page-normal {
  margin-top: 99px;
  // margin-top: 110px; // FOR DESKTOP

  
  article {
    background-color: white;
    position: relative;
    z-index: 1;
  }
}

.page-sidebar {
}




// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px){
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px){

}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px){

}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px){

}