footer {
  position: relative;
  background-color: #ffffff;
  z-index: 2;
  h5 {
    margin-bottom: 2rem;
    font-weight: 600;
  }
  ul li {
    margin-bottom: .5rem;
    a {
      text-transform: uppercase;
      color: #171717;

      &:hover {
        color: $primary-hover-color;
        text-decoration: none;
      }
    }
  }
}

#copyright {
  background-color: #171717;

  p {
    color: #ccc;
    margin-bottom: 0;
    line-height: 49px;
    font-size: .9rem;
  }
  a {
    color: #ccc;
    font-weight: 300;
    &:hover {
      color: #ffffff;
    }
  }
}