// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px){
  $slider_height: 350px;
  #page-slider, #page-slider .slide, #page-slider-spacer {
    height: $slider_height;
  }

  $banner_height: 170px;
  #page-banner ,#page-banner-spacer {
    height: $banner_height;
  }
}



