/* ------------ Page Banner ------------ */
$banner_height: 150px;

#page-banner {
  position: fixed;
  width: 100%;
  height: $banner_height;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h1 {
    color: #fff;
    text-transform: uppercase;
  }

  h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
#page-banner-spacer {
  height: $banner_height;
  width: 100%;
  position: relative;
}


/* ------------ Page Slider ------------ */
$slider_height: 250px;

#home-banner {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: $slider_height;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h1 {
    color: #fff;
    text-transform: uppercase;
  }

  h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
#home-banner-spacer {
  z-index: 0;
  height: $slider_height;
  width: 100%;
  position: relative;
}























// TODO: FIX ME !!!

/* ------------ Full Width Banner ------------ */
.banner-full-width {
  position: relative;
  height: 553px;
  z-index: 1;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .slide {
    position: relative;
    padding-top: 9rem;
    padding-bottom: 11rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    height: 553px;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.3);
    }

    &:focus {
      outline: none;
    }
  }

  .banner-content {
    color: #ffffff;
    z-index: 1;

    h1 {
      text-transform: uppercase;
      line-height: 1.2;
      margin-bottom: 2rem;
    }
    p {
      padding-right: 6rem;
      line-height: 1.2;
      color: #f6f6f6;
      margin-bottom: 2rem;
    }
  }
}


// TODO: FIX SLICK CSS !!!
$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

// Slick Dots
.slick-dots {
  position: absolute;
  bottom: 40px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\2022";
        width: 20px;
        height: 20px;
        font-size: 35px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
      }
    }
    &.slick-active button:before {
      color: $primary-color;
    }
  }
}